*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f0f0f0;
    font-family: "Open Sans", sans-serif;
}
.header{
    background-color: orange;
    height: 65px;
    text-align: center;
    box-shadow: 1px 1px 5px #000000;
}
.header > img{
    height: 60px;
}
.banner{
    margin-top: 1px;
    background-image: url(../img/bobo-camarao.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
}
.receita{
    font-weight: 700;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.card{
    max-width: 90%;
    width: 500px;
    margin: auto;
    margin-bottom: 30px; 
    background-color: white;
    border-radius: 5px;
    font-weight: 300;
    padding: 20px;
}
h1{
    color: orange;
    margin: 10px 10px 10px 10px;
}
ul{
    margin-left: 30px;
    padding: 10px;
    margin-bottom: 25px;
}
li{
    padding: 10px;
    line-height: 10px;
    padding: 10px;
    line-height: 1.4; 
}
.botao{
    display: block;
    width: fit-content; 
    max-width: 100%; 
    margin: 0 auto 20px auto;
    text-align: center;
    text-decoration: none;
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.botao:hover{
    background-color: rgb(221, 144, 0);
}
ol{
    margin-left: 30px;
    padding: 10px;
    margin-bottom: 25px;
}
footer{
    height: 50px;
    background-color: orange;
    text-align: center;
}
.footer{
    text-decoration: none;
}
footer > p{
    padding-top: 15px;
}