@charset "UTF-8";
.teste{
    height: 250px;
    width: 250px;
    border: 2px solid rgb(238, 142, 24);
    padding: 300px;
    margin: 50px auto 50px auto;
    outline: 2px solid aqua;
    background-color: blueviolet;
}
.testemargin{
    margin: auto;
}
/*padding é o preenchimento
 e o border-radius é o arredondamento das bordas*/
nav{
    background-color: bisque;
    padding: 3px;
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.575);
    border-radius: 10px;
}
nav > a{
    text-decoration: none;
    color: blueviolet;
}
nav > a:hover{
    text-decoration: underline;
}
div#bola{
    height: 100px;
    width: 100px;
    margin: 50px;
    background-color: blanchedalmond;
    border-radius: 90px;
}
div#borda{
    border: 20px solid black;
    padding: 10px;
    border-image-source: url("imagem.png");
    border-image-slice: 200;
    border-image-repeat: repeat;
}