@charset "UTF-8";
/*ADICIONE @charset "UTF-8"; PAR NÃO TER PROBLEMAS COM ASENTO*/

body{
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color:aqua;
    background-color: bisque;
}
p{
    text-align: justify;
}